*.tar
*.tar.gz
*.tgz
*.tar.bz2
*.tbz2
*.tar.xz
*.txz
*.o
*.out
*.log
*~
core
.DS_Store

cscope.out
cscope.out.in
cscope.out.po

cachelab-handout/csim
cachelab-handout/test-trans
cachelab-handout/tracegen
cachelab-handout/.csim_results
cachelab-handout/.marker
cachelab-handout/trace.tmp
cachelab-handout/trace.all
cachelab-handout/trace.f*

shlab-handout/tsh
shlab-handout/myspin
shlab-handout/mysplit
shlab-handout/mystop
shlab-handout/myint

proxylab-handout/proxy
